@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2:wght@500&display=swap%27');
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap%27');

* {
  margin: 0;
  overflow: hidden;
}

/* .cover {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  color: #fff;
  display: flex;
} */

.globe{
  /* z-index: 1; */
}

.left {
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  margin: 4.06rem 0 0 4.06rem;
  font-family: 'Baloo Chettan 2', cursive;
}

.right {
  color: white;
  position: absolute;
  bottom: 10%; 
  right: 5%;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

.text {
  color: white !important;

}